@font-face {
  font-family: ageo;
  src: local(ageo), url(../_font/ageo-regular.otf);
}

:root {
	--nude: #f7d1ba;
	--terra: #A7523D;
	--rose: #d39a89;
	--caramelo: #ce7e5d;
}

body {
	font-family: ageo;
}


header {
	background: var(--nude);
}

.cabecalho {
	color: var(--terra);
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: .75rem;
	padding-bottom: .75rem;
	border-bottom: 1px solid var(--rose);
	position: absolute;
}

.cabecalho__logo {
	margin-bottom: 1rem;
}

.cabecalho__navegacao {
	text-align: center;
}

.cabecalho__link {
	font-size: 1.1rem;
	display: inline-block;
	margin-right: .7rem;
	margin-bottom: 1.25rem;	
}

nav a {
	color: var(--terra);
	text-decoration: none;
	transition: 1s all;
}

nav a:hover {
	color: var(--caramelo);
	transition: 1s all;
}

.container {
	padding-left: 6%;
	padding-right: 6%;
}

.botao {
	text-align: center;
	display: block;
	width: 100%;
	max-width: 350px;
	box-sizing: border-box;
	padding: 1rem 2rem;
	border: 1px solid var(--terra);
	border-radius: 5px;
	text-decoration: none;
	color: var(--terra);
	font-size: 1.25rem;
	margin: 1.5rem 0;
}

.chamada {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 12.25rem;
	padding-bottom: 2.5rem;
	background: var(--nude);
}

.etapas {
	display: flex;
	flex-direction: column;
	align-items: left;
	text-align: left;
	padding-top: 12.25rem;
	padding-bottom: 2.5rem;
}

.chamada__titulo {
	font-size: 2rem;
	text-transform: uppercase;
	color: var(--terra);
	margin-bottom: 1.5rem;
}

.chamada__texto {
	font-size: 1.25rem;
	line-height: normal;
	margin-bottom: 0 auto 2.5rem;
}

.chamada__botao {
	width: 100%;
	text-align: center;
}

.sobre {
	align-items: center;
	text-align: center;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

.sobre__titulo {
	font-size: 2rem;
	text-transform: uppercase;
	color: var(--terra);
	margin-bottom: 1.5rem;
}

.sobre__texto {
	font-size: 1.25rem;
	line-height: normal;
	margin-bottom: 0 auto 2.5rem;
}

.sobre__botao {
	width: 100%;
}

.sobre__imagem {
	display: none;
}
.sobre-sobre {
	align-items: center;
	text-align: center;
	padding-top: 2.5rem;
}

.sobre__texto-sobre {
	font-size: 1.25rem;
	line-height: normal;
	margin-bottom: 0 auto 2.5rem;
	text-align: justify;
	padding-top: 1rem;
}

.sobre__imagem-sobre {
	display: none;
	margin-right: 3rem;
	box-shadow: 0 2px 10px 5px #00000070;
}

.sobre__imagem-sobre-direita {
	display: none;
	margin-left: 3rem;
	box-shadow: 0 2px 10px 5px #00000070;
}

.servicos-lista {
	font-size: 1.25rem;
	line-height: normal;
	margin-bottom: 0 auto 2.5rem;
	text-align: left;
	margin-top: 1rem;
	padding-left: 1rem;
}

.missao__valores {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;	
	padding-bottom: 2.5rem;
	background: var(--terra);
}

.missao__valores__titulo {
	font-size: 2rem;
	text-transform: uppercase;
	color: var(--nude);
	margin-bottom: 1.5rem;
	padding-top: 2.5rem;
}

.missao__valores__texto {
	font-size: 1.25rem;
	line-height: normal;
	margin-bottom: 0 auto 2.5rem;
	color: var(--nude);
}

.diferenciais {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.diferenciais__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.diferenciais__item {
    max-width: 350px;
    box-sizing: border-box;
    padding: 2rem 0 2rem 5rem;
    background-repeat: no-repeat;
    background-position: top 1.25rem left 2.3rem;
}

.diferenciais__item--acompanhamento {
	background-image: url(../_img/acompanhamento.svg);
}

.diferenciais__item--foco {
	background-image: url(../_img/foco.svg);
}

.diferenciais__item--simplicidade {
	background-image: url(../_img/simplicidade.svg);
}

.item__titulo {
    color: var(--terra);
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.item__texto {
    line-height: normal;
}

.destaques{
	display: flex;
	flex-direction: column;
	background: var(--rose);
	padding-top: 2.5rem;
	padding-bottom: 2rem;
	text-align: center;
}

.destaques__titulo {
	color: var(--terra);
	font-weight: 700;
	font-size: 1.5rem;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2rem;
}

.destaques__titulo-etapa {
	color: var(--terra);
	font-weight: 700;
	font-size: 1.5rem;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 2rem;
	padding-top: 2rem;
	padding-left: 1rem;
}

.destaques__painel {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
}

.destaques__painel-imagem {
	width: 100vw;
	box-shadow: 0 2px 10px 5px #00000020;
	margin-bottom: .5rem;
}

.destaques__painel-texto {
	font-weight: 700;
	font-size: 1.2rem;
	line-height: normal;
	color: var(--terra);
	text-align: center;
}

.video {
	padding-top: 2.5rem;
	width: 100vw;
	height: 20rem;
	margin-bottom: .5rem;
}

.destaques__botao {
	text-align: center;
}

.institucional {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--terra);
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	
}

.institucional-contato {
	padding-top: 12.25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--terra);
	text-align: center;
	padding-bottom: 2rem;	
}

.institucional__titulo {
	color: var(--terra);
	font-weight: 700;
	font-size: 1.5rem;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2rem;
}

.institucional__endereco {
	font-size: 1.5rem;
	line-height: normal;
	margin-bottom: 2rem;
}

.institucional__contato {
	font-weight: 1.2rem;
	line-height: 1.8;
	margin-top: 2rem;
}

.institucional__contato-telefone {
	line-height: normal;
	color: var(--terra);
}

.institucional__contato-email {
	color: var(--terra);
	text-decoration: underline;
	display: block;
}

.mapa {
	width: 100vw;
	height: 300px;
}


footer {
	text-align: center;
	background: var(--terra);
	padding: 40px 0;
	color: var(--nude);
}

.logo__footer {
	width: 245px;
}

@media screen and (min-width: 768px) {
	.chamada__texto{
		max-width: 600px;
	}

	.institucional__contato-email {
		display: inline-block;
	}

	.destaques__painel-imagem {
		width: 100%;
	}

	.video {
		width: 100%;
	}
}

@media screen and (min-width: 1024px) {

	.cabecalho {
		position: fixed;
  		top: 0;
	}
	.cabecalho {
		flex-direction: row;
		justify-content: space-between;
		border: none;
		box-shadow: 0 2px 10px 5px #00000020;
	}
	

	.sobre {
		display: flex;
	}

	.sobre-sobre {
		display: flex;
	}

	.sobre__conteudo {
		margin-right: 3rem;
	}

	.sobre__titulo {
		padding-top: 7rem;
		text-align: left;
	}

	.sobre__texto {
		text-align: left;
	}

	.sobre__imagem {
		display: block;
	}

	.sobre__imagem-sobre {
		display: block;
	}

	.sobre__imagem-sobre-direita {
		display: block;
	}

	.destaques{
		display: flex;
		flex-direction: column;
		background: var(--rose);
		padding-top: 2.5rem;
		padding-bottom: 2rem;
		padding-left: 0rem;
	}

	.destaques__itens {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
    	align-items: center;
	}

	.destaques__painel-imagem {
		width: 360px;
	}

	.video {
		padding-top: 0px;
		width: 360px;
		height: 360px;
		box-shadow: 0 2px 10px 5px #00000020;
	}

	.endereco {
		display: flex;
		flex-direction: row;
	}

	.institucional {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
    	align-items: center;
	}

	.institucional-contato {
		padding-top: 5.25rem;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
    	align-items: center;
	}
	.contato-caixa  {
		padding-top: 17rem;
	}

	.mapa {
		width: 500px; 
		height: 350px;
		box-shadow: 0 2px 10px 5px #00000020;
	}
}
